/* .btn {
  padding: 10px;
  width: 140px;
  background-color: #3498db;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  text-align: center;
  border: 0;
  cursor: pointer;
}

.btn:hover {
  background-color: #1578ba;
} */

.form {
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
