.body {
  display: flex;
  justify-content: center;
}
.btnDiv {
  margin-left: 81.7%;
}

.addNTable {
  padding: 10px;
}

.addBtn {
  background-color: transparent;
  margin-left: auto;
}

.addProductWithIcon {
  display: flex;
  align-items: center;
}
