.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* width: 57%; */
}

.editBtn {
  background-color: transparent;
  background-color: blue;
  border: 1px solid red;
  width: 100px;
  height: 100px;
}

.modalPage {
  position: absolute;
  inset: 20px;
  background: #f0edee;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  height: 80vh;
  width: 60%;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalButton {
  float: right;
  background: transparent;
  border: 1px solid #003049;
  color: #003049;
  padding: 6px 14px;
  border-radius: 3px;
  font-size: 22px;
  font-weight: bolder;
  cursor: pointer;
}

.modalButton:hover {
  background: #003049;
  color: #fff;
}
