.listItems {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  /* background-color: #e0e0e0; */
  padding-left: 80px;
  background-color: #f0edee;
}
