.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.listItems {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  /* background-color: #e0e0e0; */
  padding-left: 80px;
}
