.item {
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
}

.imgBg {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-bottom: 1px solid #003049;
}

.image {
  width: 200px;
  height: 200px;
}

.titlePrice h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #003049;
  height: 70px;
}

.titlePrice h4:hover {
  color: #d62828;
}

.alignment {
  display: flex;
  justify-content: center;
  color: white;
}

.headers {
  text-decoration: none;
}

.category {
  color: #fff;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.titlePrice {
  width: 100%;
  padding: 10px;
}

.price {
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 40%;
  background-color: #db3d3d;
  border-radius: 4px;
  text-align: center;
}

.buttonToggler {
  display: flex;
  gap: 5px;
  justify-content: center;
  padding: 10px;
  background-color: red;
  border-radius: 5px;
}

.buttonToggler img {
  width: 20px;
  height: 20px;
}

.rating {
  display: flex;
  position: static;
  justify-content: center;
  gap: 10px;
  padding: 5px;
}

.rateNum {
  align-self: center;
  color: #faaf00;
}
