.body {
  background-color: #f0edee;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  height: 300px;
  width: 400px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.inputs h3 {
  padding: 10px;
}

.inputs input {
  height: 40px;
  width: 80%;
  border: none;
  outline: none;
  border-bottom: 1px solid #003049;
}

.inputs input::placeholder {
  font-size: 12px;
  text-align: center;
}

.inputs input:focus {
  border: 1px solid #003049;
  border-radius: 4px;
}

.btn {
  width: 80%;
  height: 40px;
  border: 1px solid #003049;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.btn:hover {
  background-color: #003049;
  color: #fff;
  font-weight: bold;
}

.error {
  color: #d62828;
  font-size: 12px;
  padding: 0;
  margin-top: -20px;
}
