@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
  --button-coor: #3498db;
}
.header {
  text-align: center;
  color: var(--button-coor);
}

body {
  background-color: #f9fafb;
  font-family: "open-sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0f0;
  border-radius: 4px;
  display: block;
  opacity: 60%;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: var(--button-coor);
}

.form button {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  touch-action: manipulation;
  border: 1.5px solid var(--button-coor);
  color: var(--button-coor);
  width: 100%;
}

.form button:hover {
  background-color: var(--button-coor);
  color: #fff;
}
