ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3498db;
}

.listItems {
  color: white;
  padding: 14px 0;
  text-align: center;
  text-decoration: none;
}

.listItems .cartImg {
  padding: 10px 14px;
}

.btn {
  background-color: transparent;
  border: 0;
}
.end {
  float: right;
  padding: 16px;
  margin: 0;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.end:hover {
  background-color: #1578ba;
}
