ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #003049;
}

.left {
  float: left;
  padding: 18px;
  margin: 0;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.left:hover {
  background-color: #f77f00;
}

.listItems {
  color: white;
  padding: 14px 0;
  text-align: center;
  text-decoration: none;
}

.listItems .cartImg {
  padding: 12px 14px;
}

.btn {
  background-color: transparent;
  border: 0;
}

.end {
  float: right;
  padding: 18px;
  margin: 0;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  background-color: #003049;
}

.end:hover {
  background-color: #f77f00;
}
