.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table th,
tr {
  border: 0;
}

.table td,
th {
  padding: 10px;
}

.table table {
  width: 100%;
}

.table img {
  width: 24px;
  height: 24px;
}

.links {
  text-decoration: none;
  color: #003049;
  font-weight: bold;
}

.linksTitle {
  text-decoration: none;
  color: #003049;
  font-weight: bold;
}

.linksTitle:hover {
  color: #f77f00;
}

.tableButtons {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.tableButtons:hover {
  transform: scale(1.3);
}

.icons:hover {
  fill: #f77f00;
}
