.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table th,
tr {
  border: 0;
}

.table td,
th {
  padding: 10px;
  background-color: rgb(201, 195, 195);
}

.table table {
  border-collapse: collapse;
  width: 100%;
}
